.signup__container{
    min-height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("./signup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.soon{
    cursor: no-drop !important ;
}
.s_data{
    border: 1px solid rgb(110, 108, 108);
    width: 35em;
    padding: 20px 30px;
    background-color: rgb(39, 38, 38);
    color: white;
    border-radius: 3px;
}
.sh_h2{
text-align: center;
margin: 5px 0px;
letter-spacing: 5px;
}
.sh_p{
    text-align: center;
    margin-bottom: 10px;
}
.s_body h3{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;

}
.s_form{
    margin: 18px 10px;
}
.email{
    margin-bottom: 10px;
    margin-top: 10px;
}
.s_form input[type=submit]{
    width: 100%;
    text-align: center;
}
.error_message{
    text-align: center;
    font-weight: 600;
    color: red;
    font-size: 20px;
}
@media only screen and (max-width: 480px) {
    .s_data{
        width: 100%;
    }
}